/* app.css */

body, html {
    height: 100%;
    width: 100%;
}


body { 
  background: url(http://walops.com/wp-content/uploads/Textured-Cool-Backgrounds-Wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.panel {
    margin-top: 80px;
    text-align: center;
    background-color: rgba(242, 242, 242, 0.9);
    padding: 15px 0px 10px 0px;
}

.panel h1 {
    font-size: 3rem;
}

.panel p {
    font-size: 1.3rem;
    padding: 20px 0px;
}

button {
    background-color: #FF9900;
    color: #EEEEEE;
    font-size: 1.5rem;
    font-weight: 500;
}

button:hover {
    background-color: #D77E22;
}

.launch-button {
    margin-top: 25px;
    padding: 30px;
}

.search-button {
    padding: 5px 20px;
}

.back-to-search{
    background-color: #8B4513;
    margin-top: 100px;
    text-align: right;
    font-size: 1.0rem;
    padding: 5px 5px;
}

.back-to-searchtime{
    background-color: #8B4513;
    margin-top: 100px;
    text-align: right;
    font-size: 1.0rem;
    padding: 5px 5px;
}

