{% extends "base.html" %}
{% block title %} Reading List {% endblock %}
{% block body %}
	<head>
		<script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js">
		</script>
		
	</head>
	<script>
		setTimeout(update,1000)
		function update(){
			//$.get("http://localhost:5000/static/testthis.txt",  function( data ) {
			$.ajax({
			  url: "http://localhost:5000/static/testthis.txt",
			  cache: false,
			  dataType: "text",
			  success: function( data, textStatus, jqXHR ) {
			
					console.log("data:")
					console.log(data)
					if(data === "1"){
				  
				  		$("#statuspic").attr("src","../static/statusok.jpg");
				  		$("#statuspic").attr("style","width:400px;height:75px;");
					}
					if(data === "2"){
				  		
				  		$("#statuspic").attr("src","../static/statuse.jpg");
				  		$("#statuspic").attr("style","width:700px;height:60px;");
					}
					if(data === "3"){
				  		
				  		$("#statuspic").attr("src","../static/statuse.jpg");
				  		$("#statuspic").attr("style","width:700px;height:60px;");
					}
					if(data === "4"){
				  		
				  		$("#statuspic").attr("src","../static/statuse.jpg");
				  		$("#statuspic").attr("style","width:700px;height:60px;");
					}
				}
			});
			setTimeout(update,1000)
		}
		

	</script>
    <h1>Map: McBain Hall  Floor: 8<h1>
    <img src="../static/statusok.jpg" id= "statuspic" style="width:700px;height:60px;">
    <h1>My Monitor</h1>
 
    <iframe width="840" height="473" src="https://www.youtube.com/embed/yVEncL3NpnU" frameborder="0" allowfullscreen></iframe>

    <p>Rooms 830, 808, and 819, 822 are being monitored</p>
    <a href="/checkfire"><button class="launch-button">Start Monitoring</button></a>
    <a href="/nofire"><button class="launch-button">Building Map</button></a>
    

{% endblock %}