{% extends "base.html" %}
{% block title %} Reading List {% endblock %}
{% block body %}
    <h1>My Monitor</h1>
    <h3>status: OK
    </h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hMtjGfr0tYs" frameborder="0" allowfullscreen></iframe>
    <p>Rooms 800, 808, and 819 are being monitored</p>
    <a href="/checkfire"><button class="launch-button">Start Monitoring</button></a>
    <a href="/nofire"><button class="launch-button">nofire</button></a>
    <a href="/nopeople"><button class="launch-button">nopeople</button></a>
    <a href="/oneperson"><button class="launch-button">oneperson</button></a>
    <a href="/twopeople"><button class="launch-button">twopeople</button></a>
    <a href="/map"><button class="launch-button">Emergency Details</button></a>

{% endblock %}