{% extends "base.html" %}
{% block title %} firemonitor.ai {% endblock %}
{% block body %}
	<head>
		<script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js">
		</script>
		<img src="../static/theFireMonitor.png" id= "thefiremonitor" style="width:280px;height:60px;">	
	</head>


	<script>
		$(document).ready(function() {
		  $('#play-video').on('click', function(ev) {	 
		    $("#video")[0].src += "&autoplay=1";
		    ev.preventDefault();
		  });
		});
	</script>	
	<script>
		setTimeout(update,1000)
		function update(){
			//$.get("http://localhost:5000/static/testthis.txt",  function( data ) {
			$.ajax({
			  url: "http://localhost:5000/static/testthis.txt",
			  cache: false,
			  dataType: "text",
			  success: function( data, textStatus, jqXHR ) {
			
					console.log("data:")
					console.log(data)
					if(data === "1"){
				  
				  		$("#statuspic").attr("src","../static/statusok.jpg");
				  		$("#statuspic").attr("style","width:400px;height:75px;");
					}
					if(data === "2"){
				  		
				  		$("#statuspic").attr("src","../static/statuse.jpg");
				  		$("#statuspic").attr("style","width:700px;height:60px;");
					}
					if(data === "3"){
				  		
				  		$("#statuspic").attr("src","../static/statuse.jpg");
				  		$("#statuspic").attr("style","width:700px;height:60px;");
					}
					if(data === "4"){
				  		
				  		$("#statuspic").attr("src","../static/statuse.jpg");
				  		$("#statuspic").attr("style","width:700px;height:60px;");
					}
				}
			});
			setTimeout(update,1000)
		}
		

	</script>
    <img src="../static/statusok.jpg" id= "statuspic" style="width:700px;height:60px;" hspace="40">


   
 

    <iframe id="video" width="900" height="610" vspace="40" src="https://www.youtube.com/embed/yVEncL3NpnU?rel=0" frameborder="0" allowfullscreen></iframe>
    <h3> Map: McBain Hall  Floor: 8 <h3>
    <h3>Rooms 830, 808, and 819, 822 are being monitored</h3>

     <a id="play-video" href="#"><button class="launch-button">Start Monitoring</button></a><br />
    <a href="/nofire"><button class="launch-button">Building Map</button></a>
    

{% endblock %}