{% extends "base.html" %}
{% block title %} firemonitor.ai {% endblock %}
{% block body %}
	<head>
		<script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js">
		</script>
		<img src="../static/theFireMonitor.png" id= "thefiremonitor" style="width:280px;height:60px;" vspace="10">
	</head>

	<script>
		setTimeout(update,1000)
		function update(){
			//$.get("http://localhost:5000/static/testthis.txt",  function( data ) {
			$.ajax({
			  url: "http://localhost:5000/static/testthis.txt",
			  cache: false,
			  dataType: "text",
			  success: function( data, textStatus, jqXHR ) {
			
					console.log("data:")
					console.log(data)
					if(data === "1"){
				  		$("#mappic").attr("src","../static/status1.jpg");
				  		$("#statuspic").attr("src","../static/statusok.jpg");
				  		$("#statuspic").attr("style","width:400px;height:75px;");
					}
					if(data === "2"){
				  		$("#mappic").attr("src","../static/status2.png");
				  		$("#statuspic").attr("src","../static/statuse.jpg");
				  		$("#statuspic").attr("style","width:700px;height:60px;");
	
					}
					if(data === "3"){
				  		$("#mappic").attr("src","../static/status3.png");
				  		$("#statuspic").attr("src","../static/statuse.jpg");
				  		$("#statuspic").attr("style","width:700px;height:60px;");
					}

					if(data === "4"){
				  		$("#mappic").attr("src","../static/status4.png");
				  		$("#statuspic").attr("src","../static/statuse.jpg");
				  		$("#statuspic").attr("style","width:700px;height:60px;");
					}
				}
			});
			setTimeout(update,1000)
		}
		

	</script>
    <img src="../static/statusok.jpg" id= "statuspic" style="width:700px;height:60px;" hspace="40">
   
    <img src="../static/status1.jpg" id= "mappic" alt="Floor Plan" style="width:600px;height:600px;" vspace="10">
    <p>Map: McBain Hall  Floor: 8   Updates every second</p>
    <a href="/"><button class="launch-button">back to My Monitor</button></a>

{% endblock %}